<!doctype html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="/static/complete.css">
  <!-- あってもなくても動くけど入れといた方がいいメタタグ -->
  <!-- 文字をutf-8に -->
    <meta charset="utf-8">
  <!-- どのデバイスで見ても見え方を一緒にする = レスポンシブデザイン -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <div class="thankyou" style="border: 2px solid #1c1364; text-align: center;">
      <div class="contents" style="padding: 20px">
        <h2 style="
        text-align: center;
        color: #133c73;
        font-size: 20px;">{{ name }}さん<br>ご応募ありがとうございます！</h2>
        <p style="
        display: block;
        font-size: 15px;">イベントまでのやりとりを円滑にするため、<br>当イベント運営の公式LINEを追加して<br>頂ければと存じます。</p>

        <h3>▼▼LINE公式アカウント▼▼</h3">
        <img src="static/qr.png" alt="" style="text-align: center;">
      </div>
  </div>
  </body>
</html>